body{
    overflow-x: hidden;
    box-sizing: border-box;
}
.description-produk{
    width: 97%;
    height: 950px;
    background-color: #00B7BD;
    margin: 20px;
}
.title{
    font-family: "Moderat Trial",sans-serif;
    font-weight: 700;
    font-size: 20vw;
    letter-spacing: -.05em;
    color: #fff;
    text-align: center;
}
.desc-konten{
    display: flex;
    justify-content: space-evenly;
}
.desc{
    width: 35%;
    height: 500px;
    padding: 30px;
    margin-left: 100px;
    margin-top: -80px;
}
.desc-foto{
    margin-top: 100px;
    margin-left: -200px;
}
.medsos-produk{
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.back-to-menu{
    position: absolute;
    display: inline-block;
    font-family: "Moderat Trial",sans-serif;
    font-weight: 700;
    color: #eee;
    font-size: 50px;
}
.back-to-menu:hover{
    color: black;
}
.medsos{
    margin-top: 500px;
}
/* Icon Media Sosial */
.fa {
    padding: 10px;
    font-size: 30px;
    width: 40px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    line-height: 40px;
    border-radius: 30px;
    transition: all 0.5;
}
.fa:hover {
    transform: scale(1.08);
    color: black;
}
.fa-facebook {
    background: #eee;
    color: black;
}
.fa-twitter {
    background: #eee;
    color: black;
}
.fa-instagram {
    background: #eee;
    color: black;
}
.fa-pinterest {
    background: #eee;
    color: black;
}

/* Styling Halaman About */
.about, .contact{
    width: 97%;
    height: 1200px;
    background-color: #00B7BD;
    margin: 20px;
}
.about h3{
    text-align: center;
    margin-top: -90px;
    margin-bottom: 200px;
    font-family: 'Prata', serif;
    font-size: 60px;
}
.desc-about{
    display: flex;
    justify-content: center;
    font-family: 'Prata', serif;
}
.description{
    width: 35%;
    padding: 30px;
}
.about-foto{
    width: 40%;
}
.about-foto img{
    margin-top: 30px;
}

/* Cntact Page */
.container-contact{
    width: 50%;
    /* border: 1px solid red; */
    margin-top: 100px;
}
.row .col input{
    padding-bottom: 0.8125rem;
    background-color: transparent;
    border-bottom: 1px solid black;
    border-top: none;  
    border-left: none;  
    border-right: none;  
    border-radius: 0px;
}
.row .col .form-label{
    margin-top: 30px;
    text-align: left;
}